@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --color-text-heading: darkblue;
    --color-text-light :#000;
    --bg-color-light: rgb(226, 226, 226);
    --bg-color-dark: rgb(19, 19, 19);
}

html {
    background-color: var(--bg-color-light);
    font-size: 62.5%;
}

.nav-container {
    color: var(--color-text-heading);
    background-color: var(--bg-color-light);
    text-align: center;
    padding: 1rem 0;
}

.table {
    border: none;
    color: var(--color-text-light);
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 1.6rem;
}

.btn-remove{
    border: 0;
    outline: 0;
    color: #ff0000;
    background-color: var(--bg-color-light);
    
}

table, tr, td,th{
    border: none;
}



